<h1><%= t "questions.welcome" %></h1>

<h2> Top Questions </h2>
<% cache("top_questions", skip_digest: true) do %>
  <% @top_questions.each do |question| %>
    <%= render "question", question: question %>
  <% end %>
<% end %>
<hr>

<h2> Recent Questions </h2>
<% @questions.each do |question| %>
  <%= render "question", question: question %>
<% end %>

<%= will_paginate @questions, previous_label: h("<"), next_label: h(">") %>
<br/>
<br/>
<%= link_to "New Question", new_question_path, class: "btn btn-primary" %>