<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p>Hit Count: <%= @question.hit_count %></p>
<p><%= link_to "Delete", @question, method: :delete, class: "btn btn-danger" %></p>
<br/>
<%= link_to "All Questions", questions_path %>