= cache @question do
  %h1= @question.title
  %p= @question.body
  %p
    Hit Count: #{@question.hit_count}
  %p
    Like Count: #{@question.like_count}
  = render "/votes/vote_buttons", question: @question
  %p
    - if user_signed_in?
      - if current_user.has_liked? @question
        = link_to "UnLike", question_likes_path(@question), class: "btn btn-danger", method: :delete
      - else
        = link_to "Like", question_likes_path(@question), class: "btn btn-primary", method: :post
    - if can? :edit, @question
      = link_to "Edit", edit_question_path(@question), class: "btn btn-info"
    - if can? :destroy, @question
      = link_to "Delete", @question, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
  %br/

- if @question.image.present?
  = image_tag @question.image.url(:medium)  

- if user_signed_in?
  .new-answer-form
    = render "/answers/form", answer: @answer, question: @question
- else
  = link_to "Sign In To Answer", new_user_session_path
%h2 Answers
.answers
  - @answers.each do |answer|
    = render "/answers/answer", answer: answer
= link_to "All Questions", questions_path
