<div id="<%= dom_id(answer) %>">
  <div class="row">
    <div class="col-lg-10"><%= answer.body %></div>
    <div class="col-lg-6">
      <div class="pull-right">
        <% if can? :destroy, answer %>
          <%= link_to "Delete", [@question, answer], method: :delete, class: "btn btn-danger", remote: true, data: {confirm: "Are you sure you want to delete answer?"} %>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.has_liked? answer %>
            <%= link_to "UnLike", answer_likes_path(answer), class: "btn btn-danger", method: :delete %>
          <% else %>
            <%= link_to "Like", answer_likes_path(answer), class: "btn btn-primary", method: :post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-1">
      <p>Created On: <%= formatted_date(answer.created_at) %>
    </div>
  </div>
  <hr>
</div>